#This is in Android 8.0, but not 8.1
domain_trans(init, rootfs, adbd)

allow init tmpfs:lnk_file create_file_perms;
dontaudit init kernel:system module_request;
allow init tmpfs:lnk_file create_file_perms;

allow vendor_init vendor_init:capability { sys_module };
allow init userdata_block_device:blk_file relabelto;
allow init userdata_block_device:lnk_file relabelto;
